@font-face {
  font-family: "iconfont"; /* Project id 2372851 */
  src: url('iconfont.woff2?t=1622013449973') format('woff2'),
       url('iconfont.woff?t=1622013449973') format('woff'),
       url('iconfont.ttf?t=1622013449973') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e673";
}

.icon-shop:before {
  content: "\e676";
}

.icon-collect:before {
  content: "\e604";
}

.icon-service:before {
  content: "\e640";
}

.icon-yyclassify2:before {
  content: "\e605";
}

.icon-cart:before {
  content: "\e7f5";
}

.icon-home:before {
  content: "\e627";
}

.icon-Profile:before {
  content: "\e661";
}

